#tabla {
  background-color: white;
  width: 80vw;
}

.tabla-parent {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
  background-color: white;
  border-radius: 2%;
  margin-top: 5px;
  padding: 10px;
  width: 30%;
}
